			<!-- <ng-include src="'partials/header.html'"> </ng-include> -->
<header class="home_head">

	<h1>
		<span class="mybrand">MySales</span>
	</h1>
	<p>Hello <span ng-bind="user.username" class="username"></span> <span class="pipe">|</span> <a ng-click="logout()" href="javascript:void(0)">Logout</a></p>
	<div class="hidden-xs clear"></div>
</header>

<section>
	<p ng-show="mysupportmsg.toshow" ng-bind="mysupportmsg.message"></p>

	
	<div class="homelink">
		<h2>Sales Analysis Reports</h2>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
					<div class="mybox" ng-click="openchart('TotalSalesPerMan')">
						<h3>Individual Total Sales Report</h3>
						<div class="chbg chartbg1">
							
						</div>
							
					</div>
				
				</div>
				<div class="col-sm-6">
					<div class="mybox" ng-click="openchart('TotalSalesPerMonth')">
						<h3>Monthly Total Sales Report</h3>
						<div class="chbg chartbg2">
							
						</div>
					</div>
				
				</div>
				<div class="col-sm-6">
					<div class="mybox" ng-click="openchart('TopFiveSalesOrder')">
						<h3>Top 5 Sales Order</h3>
						<div class="chbg chartbg3">
							
						</div>
					</div>
				
				</div>
				<div class="col-sm-6">
					<div class="mybox" ng-click="openchart('TopFiveSalesMan')">
						<h3>Top 5 Sales Men</h3>
						<div class="chbg chartbg4">
							
						</div>
					</div>
				
				</div>
				
			</div>
		</div>
	</div>
	
	
</section>



	
<footer class="verticalCentreparent">
	<div class="verticalCentreparentElem">
		<a href="javascript:void(0)" ng-click="open('','partials/privacy.html','mystatic')">Privacy Policy</a>
		<a href="javascript:void(0)" ng-click="open('','partials/terms.html','mystatic')">Terms of Use</a>
		<a href="javascript:void(0)" ng-click="open('lg','partials/support.html','mysupport')">Support</a>
	</div>
</footer>