
<div class="modal-header">
	 <h2 id="myModalLabel">Support</h2>
</div>
<div class="modal-body">
	<p>Please fill the below fields and Click Send button to process your request</p>
	<div class="form-group rel">
		<label for="subject">Subject</label>
		<textarea id="subject" class="form-control" rows="2"></textarea>
	</div>
	<div class="form-group rel">
		<label for="description">Description</label>
		<textarea id="description"class="form-control" rows="8"></textarea>
	</div>
</div>
<div class="modal-footer"> 
	<button class="btn btn-alt" ng-click="$dismiss('cancel')">Cancel</button>
	<button class="btn btn-primary" ng-click="$close('true')">Send</button>
</div>