
<div class="modal-header">
	 <h2 id="myModalLabel">Terms</h2>
</div>
<div class="modal-body">
	<p>
		Donec semper efficitur nulla ut tempor. Maecenas sed magna erat. Nunc vestibulum orci vel mi gravida, eget vulputate libero gravida. Nam in imperdiet dui, sed pellentesque enim. Donec lobortis lacus velit. Proin nec lacus eget metus scelerisque hendrerit. Etiam lobortis dolor vel mi maximus, non lobortis magna dictum. Vivamus volutpat sit amet magna at lobortis. Integer a sollicitudin leo.
	</p>
</div>
<div class="modal-footer"> 
	<button class="btn btn-primary" ng-click="$dismiss()">OK</button>
</div>